body {
  background-color: black;
}

.header {
  background-color: rgb(24, 24, 24);
  height: 50px;
  border-radius: 100px;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header a {
  color: white;
  text-decoration: none;
}

.header :hover a {
  color: orange;
}
.image {
  flex: 1;
}
.child {
  flex: 1;
}
.body h5 {
  color: white;
}

