/* Media query is like a condition, it will trigger when certian things have happened on our webpage */
* {
  box-sizing: border-box;
}
.navbar {
  height: 40px;
  overflow: hidden;
  background-color: grey;
}
.navbar a {
  display: block;
  text-align: center;
  float: left;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
