html {
  background: grey no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-weight: 100;
  font-size: 40px;
  font-style: bold;
  font-family: "Josefin Sans", sans-serif;
}

.line_break {
  width: 275px;
  margin: 0 auto;
  border-top: 2px solid white;
}

.container {
  width: 450px;
  height: 450px;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 30px;
  color: white;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  font-family: "Josefin Sans", sans-serif;
}
button {
  padding: 5px;
  background-color: #ffffffe7;
  font-size: 0.75rem;
  width: 8rem;
  margin-top: 5px;
  border-radius: 120px 100px / 10px;
  color: black;
  font: bold;
  font-family: "Josefin Sans", sans-serif;
}

input {
  padding: 10px;
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
}

input:hover {
  background-color: #b3b3b3ac;
}

label {
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-weight: 120;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}
